 <title>KEBERHASILAN</title>
 <div id="app">
 <img :src="image" alt="astaghfirullah">    
 </div>
  
<script src="https://unpkg.com/vue@next/dist/vue.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
var vm=new Vue({
  el: '#app',
  data: {
    image: "<%= image %>"
  }
})
  var socket = io.connect();
  socket.on('gambar', function (data) {
      console.log(data)
   vm.image=data.image
  });
</script>