html
  body
    title kekuatan #{panda}
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js")
    div(ng-app="panda")
     div(ng-controller="cipo")
      button(ng-click="lambda()",ng-disabled="coki") start
      | zakat 
      input(ng-model="angka",ng-change="zakat(angka)")
    img#ciki
    p#canda
    script.
      var socket = io();
      var app=angular.module("panda",[])
      app.controller("cipo",function($scope,$http){
        $scope.lambda=function(){
        $http.post("/start")
        .then((data)=>{
          console.log(data.data)
        })
        .catch((err)=>{
          console.log(err)
        })
          $scope.coki=true;
        };
      });
      socket.on("dalbo",function(data){
      $("#canda").text(JSON.stringify(data));
      });
      socket.on("news",function(data){
        $("#ciki").attr("src","data:image/png;base64,"+data.hello);
      });
